/* .text-center{
    position: fixed;
} */

.admin.card.p-3 {
  max-width: 400px;
  height: 180px;
}

.admin.col-md-9 {
  margin-top: 60px;
}

.admin.card h3 {
  font-size: 16px;
}

.admin.bold-text {
  font-weight: bold;
}

.admin.text-center {
  position: fixed;
  width: 280px;
  margin-top: 50px;
}

.user.text-center {
  position: fixed;
  width: 280px;
  margin-top: 50px;
}

.navu {
  display: none;
}

.nav-item.recyclekyu {
  display: none;
}

.nav-item.dropdown.ushome {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navu {
    display: flex;
  }

  .nav-link.home {
    display: none;
  }

  .nav-item.home {
    display: none;
  }

  .nav-item.dropdown.hehehome {
    display: none;
  }

  .nav-item.recycleme {
    display: none;
  }

  .nav-item.recyclekyu {
    display: block;
  }

  .nav-item.dropdown.ushome {
    display: block;
  }
}
