.row.card.flex-row{
    height: 120px;
}

.col-md-4 {
    width: auto;
    
    /* padding: 10px;  */
    /* display: flex;
    flex-direction: column;  */
}


.heading{
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}