* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.div-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#div1 {
  /* background-color: #ffffff; */
  background-color: #fdf0d5;
  height: 600px;
}

#div2 {
  height: 600px;
  background-color: rgb(0, 0, 0);
}

#div3 {
  height: 600px;
  background-color: #b6b6b6;
}

.container.big-div {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
}

.small-div1 {
  /* box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px 10px 10px;
  background-color: #0d0d0d;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40;
  position: absolute;
  border-radius: 20px; */
  box-sizing: border-box;
  background-color: #0d0d0d;
  align-content: center;
  border-radius: 20px;
  width: 90%;
  height: 100px;
  align-content: center;
  gap: 40;
  padding: 10px 40px 10px 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.small-div1:hover {
  transform: scale(1.04);
}

.small-div2 {
  box-sizing: border-box;
  background-color: #0d0d0d;
  align-content: center;
  border-radius: 20px;
  width: 90%;
  height: 100px;
  align-content: center;
  gap: 40;
  padding: 10px 40px 10px 10px;
  transition: transform 0.3s;
  /* box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px 10px 10px;
  background-color: #0d0d0d;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40;
  position: absolute;
  border-radius: 20px; */
}

.small-div2:hover {
  transform: scale(1.04);
}

.small-div3 {
  margin-top: 30px;
  box-sizing: border-box;
  background-color: #0d0d0d;
  align-content: center;
  border-radius: 20px;
  width: 90%;
  height: 100px;
  align-content: center;
  gap: 40;
  padding: 10px 40px 10px 10px;
  transition: transform 0.3s;
  /* box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px 10px 10px;
  background-color: #0d0d0d;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40;
  position: absolute;
  border-radius: 20px; */
}

.small-div3:hover {
  transform: scale(1.04);
}

.smallimg1 {
  width: 80px;
  height: 80px;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-image: url(https://wallpapers.com/images/hd/book-aesthetic-pictures-e1l5i7bz790swe6u.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10px;
}

.smallimg2 {
  width: 80px;
  height: 80px;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-image: url(https://e0.pxfuel.com/wallpapers/728/989/desktop-wallpaper-reviews-for-the-10-books-i-read-in-january-she-saw-style-book-graphy-instagram-book-aesthetic-book-classic-books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10px 40px 40px 10px;
}

.smallimg3 {
  width: 80px;
  height: 80px;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-image: url(https://i0.wp.com/socialifestylemag.com/wp-content/uploads/2020/04/book-aesthetic-books-old-books-open-books-1387022.jpg?fit=620%2C414&ssl=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 100%;
}

.extradiv {
  margin-left: 100px;
}

.container.hey {
  display: flex;
}

.container.us {
  display: flex;
}

/* .container.which.btn-more.btn-dark.ms-1 {
  box-sizing: border-box;
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  background-color: #003049;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 10;
  position: absolute;
  border-radius: 9999px;
  box-sizing: border-box;
width: min-content;
height: min-content;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px 10px 20px;
background-color: #780000;
overflow: hidden;
align-content: center;
flex-wrap: nowrap;
gap: 10;
position: absolute;
border-radius: 9999px;
} */

.bigimg {
  margin-left: 780px;
  width: 320px;
  height: 320px;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  mix-blend-mode: luminosity;
  overflow: hidden;
  z-index: 1;
  aspect-ratio: 1 / 1;
  background-image: url(https://wallpapercave.com/wp/wp6244231.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.3s;
}

.bigimg:hover {
  transform: scale(1.1);
}

.container.v {
  display: flex;
}

.container.next {
  display: flex;
}

.container.next p:hover {
  color: rgb(78, 76, 76);
}
