.category.col-md-9 {
  margin-top: 10px;
}

.category.centered-text {
  text-align: center;
  font-weight: bold;
}

.cart-page {
  margin-top: 70px;
}

.cart.card.flex-grow-1.m-2 {
  width: 320px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.cart.card-img-top {
  width: 80px;
  height: 80px;
  object-fit: cover;

  border-radius: 5px;
}

.cart.name {
  flex-grow: 1;
}

.cart.card.flex-grow-1.m-2 h2 {
  margin-top: 5px;
  font-size: 12px;
}

.cart.card.flex-grow-1.m-2 h3 {
  font-size: 12px;
  margin-top: -2px;
  color: #6c6b6b;
}

.cart.btn.btn-danger {
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
  padding: 0;
}

.cart.col-md-12 {
  margin-top: 70px;
  align-items: center;
}

.cart.heading {
  font-size: 20px;
}

.category.card.m-2 {
  height: 300px;
}

.details.btn.btn-info.ms-1 {
  height: 30px;
  font-size: 15px;
}

.category.text-center {
  margin-top: 80px;
  font-weight: bold;
}

.category.row.container {
  height: 50px;
}

.card-category {
  border: 1px solid #6c6b6b;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card-category:hover {
  transform: scale(1.05);
}

.col-md-3.filters {
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.card-title {
  font-size: 15px;
}

.main-container {
  margin-left: 25%;
}

.all-text {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
}

.d-flex.flex-wrap {
  margin-left: 90px;
}

.card {
  width: 100%;
  height: 340px;
  max-width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  max-height: 60%;
  object-fit: cover;
  flex-grow: 1;
}

.card-body {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-title {
  margin: 0;
}

.card-price {
  font-weight: bold;
}

.card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card.m-2 {
  max-width: 20%;
  scroll-margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.card.m-2:hover {
  transform: scale(1.05);
}

.card.m-2 img {
  max-width: 100%;
  height: auto;
}

.card.m-2 h3 {
  margin-top: 10px;
}

.card.m-2 p {
  color: #888;
}

.btn {
  width: 100%;
}

.btn-info {
  background-color: #3498db;
  color: #fff;
}

.btn-dark {
  background-color: #2c3e50;
  color: #fff;
}

.loadmore {
  width: 100%;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.loadmore:hover {
  background-color: #2980b9;
}

.btn-more {
  background-color: black;

  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.btn-more:nth-child(1) {
  bottom: 10px;
}

.btn-more:nth-child(2) {
  bottom: 50px;
}

.btn-more button {
  width: 100%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.filters.col-md-3 {
  margin-top: 75px;
}

.d-flex.flex-column {
  margin-top: 10px;
}

.img-fluid {
  margin-left: 100px;
  margin-top: 10px;
}

.search.text-center {
  margin-top: 80px;
}

.search.text-center h4 {
  font-weight: bold;
}

.row.about {
  margin-top: 80px;
}

.row.about img {
  width: 400px;
  margin-left: 170px;
}

.row.privacy {
  margin-top: 80px;
}

.filter-container {
  display: flex;
  /* Set other desktop styles here */
}
