@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .col-md-3.filters {
    display: none;
  }

  .main-container {
    margin-left: 0;
    margin-top: 120px;
  }

  .card.m-2 {
    max-width: 100%;
    width: 200px;
    margin-right: 100px;
  }

  .all-text {
    display: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: fixed;
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .filter-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-options label {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .filter-options select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }

  .apply-button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .navbar.filter {
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }

  .navbar.filter button {
    background-color: inherit;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar.filter button:not(:last-child) {
    border-right: 1px solid rgb(190, 190, 190);
  }
  .navbar.filter p,
  .navbar.filter button {
    margin: 0;
    padding: 10px;
    border-right: 1px solid rgb(180, 180, 180);
  }
  .navbar.filter p:last-child,
  .navbar.filter button:last-child {
    border-right: none;
  }

  .navbar.filter p {
    font-weight: bold;
  }
  .navbar.filter button:hover {
    background-color: rgb(163, 156, 156);
  }

  .total-text {
    color: #232323;
    font-weight: lighter;
  }

  /* .col-md-6.custom-width {
    width: 10px;
  } */

  /* .row.container.similar-products {
    margin-left: 0px;
  }

  .row.container.similar-products.h4 {
    margin-left: 0px;
  }  */

  /* 

  
  .col-md-6.custom-width.row.container.product-details {
    position: absolute;
    left: 0;
    top: 0;
  } */
  .row.container.product-details {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    justify-content: space-between;
  }

  .row.container.similar-products {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    justify-content: space-between;
  }

  .col-md-6.custom-width {
    margin-top: 70px;
    width: 48%;
    box-sizing: border-box;
  }

  /* .col-md-6.product-details-info {
    max-height: 90%;
  } */

  /* .card {
    width: 100%;
    height: auto;
    margin: 10px;
  } */

  .img-fluid {
    margin-top: 10px;
    width: 200px;
    max-height: 85%;
    height: 500px;
  }

  .recycle-main-div {
    /* flex: content; */
    margin-top: 60px;
    padding: 20px;
    background-color: #f8ffe5;
  }

  .header.recycle {
    margin-top: 200px;
    text-align: center;
    margin: 10px;
  }

  .header.recycle h1 {
    font-size: 24px;
  }

  .right.recycle {
    flex: content;

    margin-top: 290px;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
    flex-direction: column;
  }

  .recycle-img {
    height: 210px;
    width: 210px;
  }

  .rentit-img {
    height: 240px;
    width: 240px;
  }

  .left.recycle {
    flex: content;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  /* .container.recycle {
    margin-top: 200px;
    text-align: center;
    margin: 10px;
  }

  .left.recycle .recycle-img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .right.recycle {
    margin-top: 600px;
    text-align: center;
    margin: 10px;
  }
  .right.recycle.h1 {
    margin-top: 600px;
  }

  .recycle-img:hover {
    transform: scale(1);
  } */

  .col-md-3.filters-new {
    position: relative;
  }

  .small-div1 h5 {
    font-size: 15px;
  }

  .small-div1 p {
    font-size: 12px;
  }

  .small-div2 p {
    font-size: 12px;
  }

  .small-div2 p {
    font-size: 12px;
  }

  .small-div2 h5 {
    font-size: 15px;
  }

  .small-div3 h5 {
    font-size: 15px;
  }

  .bigimg {
    display: none;
  }

  .selu {
    margin-left: 100px;
  }
}
