@media only screen and (max-width: 768px) {
   
    body {
      font-size: 16px; 
    }
   
    .col-md-3.filters{
        display: none;
    }

    .card.m-2{
        max-width: 80%;
        width: 100px;
    }

    .all-text{
        width: 100%;
        
    }  
      
  }
  